.bottom-info{
    display: flex;
    flex-direction: column;
}

.bottom-info p{
    text-align: center;
}

.bottom-info div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bottom-info img{
    margin-left: 10px;
    width: 13px;
    height: 13px;
    margin-right: 3px;
}

.bottom-info a,.bottom-info p{
    color: #b3b3b3;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
}

.bottom-info a:visited{
    color: #b3b3b3;
}

.bei-an a:hover{
    color: #27ce67;
}
