*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
ul>li{
    float: left;
    margin-left: 90px;
    line-height: 60px;
}

ul>li>a{
    color: white;
    display: block;
}

p{
    color: white;
}

.nav_wrapper{
    width: 100%;
    height: 60px;
    background: rgba(7, 30, 84, 0.8);
    position: fixed;
    z-index: 4;
}

.nav_bar{
    height: 60px;
    width: 1200px;
    margin: 0px auto;
}

.logo{
    height: 100%;
    width: 40px;
    padding-top: 10px;
    display: block;
}

.head{
    height: 100px;
    width: 100px;
    margin-top: 100px;
}

.divider{
    background: #f2f2f2;
    border: none;
    margin-left: 100px;
    margin-right: 100px;
    height: 1px;
    top: 30px;
}
.copyright{
    width: 100%;
    padding-top: 5px;
    background:black;
    text-align: center;
}
.icp{
	color:white;
    padding-top: 5px;
    background:black;
    text-align: center;
    padding-bottom:5px;
    font-size:15px
}

.beian-wrapper{
    width: 100%;
    background: black;
}

.beian{
    width: 480px;
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    text-align: center;
}

.gongan-logo{
    width: 20px;
    height: 20px;
    margin: auto 0px;
    margin-left: 50px;
    align-self: center;
}

.gongan-link{
    display: flex;
    flex-direction: row;
    margin: auto 0px;
    align-self: center;
}