
.des_wrapper{
    text-align: center;
    background: url("../img/back.jpg") no-repeat;
    height: 768px;
}

.des{
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    text-indent: 2em;
    margin: 40px 100px;
    color: aliceblue;
}

.doing{
    color: white;
    margin-bottom: 20px;
    font-size: 20px;
}
.doing_wrapper{
    width: 200px;
    margin-left: 100px;
    margin-top: 30px;
    text-align: left;
    cursor: pointer;
}
.doing_text_wrapper{
    float: left;
    margin-left: 10px;
}
