.tt_outer{
    background: url("../img/back.jpg");
    height: 660px;
    padding-top: 100px;
}
.tt_header{
    width: 90%;
    margin-left: 5%;
}
.tt_text_wrapper{
    float: left;
    margin-left: 20px
}
.tt_ui_wrapper{
    margin-top: 80px;
    width: 90%;
    margin-left: 5%;
}
.tt_ui_title{
    width: 90%;
    margin-left: 5%;
    margin-top: 80px;
}
.tt_ui{
    float: left;
    margin-left: 90px;
    height: 300px;
    z-index: 0;
    position: relative;
}
.tt_ui_img{
    height: 300px;
}
.tt_ui_des{
    position: absolute;
    z-index: 2;
    bottom: 10px;
    left: 10px;
}