.works_outer{
    text-align: center;
    background: url("../img/back.jpg");
    height: 660px;
    padding-top: 100px;
}

.works_wrapper{
    text-align: left;
}

.works_block{
    text-align: center;
    width: 300px;
    margin-left: 100px;
    margin-top: 30px;
    float: left;
}